<!DOCTYPE html>
<html Lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/home.css">
        <title>Document</title>
    </head>
    <body>

        <header>
            <nav>
                <h3 id="logo">Hiker Hack</h3>
                <div class="topnav">
                    <a href="/trailreview">Trail Review</a>
                    <a href="/maryland">Maryland</a>
                    <a href="/westvirginia">West Virginia</a>
                    <a href="/pennsylvania">Pennsylvania</a>
                    <a class="home" href="/home">Home</a>
                  </div>

                  <div style="padding-left:16px">
                  </div>
            </nav>
            <section>
                <div class="hiker">
                    <img src="/hiker.jpg" alt="">
                    <h1 class="headline">Discover Earth</h1>
                    <h2 class="quote">"This has revolutionized hiking"- Lewis & Clark</h2>
                </div>
            </section>


        </header>



        <div class="slider"></div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous">
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha512-0xrMWUXzEAc+VY7k48pWd5YT6ig03p4KARKxs4Bqxb9atrcn2fV41fWs+YXTKb8lD2sbPAmZMjKENiyzM/Gagw==" crossorigin="anonymous">
        </script>

        <script src="/app.js"></script>


    </body>
</html>
