<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Trail Site</title>
    <link rel="stylesheet" href="/Pennsylvania/Pennsylvania.css">
    <script defer src="/Pennsylvania/Pennsylvania.js"></script>
</head>

<body>

  <h2>PENNSYLVANIA</h2>  <nav class="topnav">
      <a href="/trailreview">Trail Review</a>
      <a href="/maryland">Maryland</a>
      <a href="/westvirginia">West Virginia</a>
      <a class="home" href="/home">Home</a>

  </nav>


        <div class="content-wrapper">
            <div class="trail-items-wrapper">

                <div class="trail-item-wrapper">
                    <div class="trail-img-background" style="background-image:url(MeeksRunandOilWellTrailLoop.jpg)"></div>

                    <div class="img-text-wrapper">
                        <div class="logo-wrapper">
                            <!-- <img src="MeeksRunandOilWellTrailLoop.jpg"> -->

                        </div>

                        <div class="subtitle">
                            Meeks Run and Oil Well Trail Loop
                        </div>
                    </div>
                </div>
                <div class="trail-item-wrapper">
                    <div class="trail-img-background" style="background-image:url(FallRunTrail.jpg)"></div>

                    <div class="img-text-wrapper">
                        <div class="logo-wrapper">
                            <!-- <img src="FallRunTrail.jpg"> -->

                        </div>

                        <div class="subtitle">
                            Fall Run Trail
                        </div>
                    </div>
                </div>
                <div class="trail-item-wrapper">
                    <div class="trail-img-background" style="background-image:url(MonongahelaIncline.jpg)"></div>

                    <div class="img-text-wrapper">
                        <div class="logo-wrapper">
                            <!-- <img src="MonongahelaIncline.jpg"> -->

                        </div>

                        <div class="subtitle">
                            Monongahela Incline
                        </div>
                    </div>
                </div>
                <div class="trail-item-wrapper">
                    <div class="trail-img-background" style="background-image:url(PanhandleTrailWalkersMill.jpg)"></div>

                    <div class="img-text-wrapper">
                        <div class="logo-wrapper">
                            <!-- <img src="PanhandleTrailWalkersMill.jpg"> -->

                        </div>

                        <div class="subtitle">
                            Panhandle Trail-Walkers Mill to Gregg Station
                        </div>
                    </div>
                </div>
                <div class="trail-item-wrapper">
                    <div class="trail-img-background" style="background-image:url(SettlersCabinGreenLoopTrail.jpg)"></div>

                    <div class="img-text-wrapper">
                        <div class="logo-wrapper">
                            <!-- <img src="SettlersCabinGreenLoopTrail.jpg"> -->

                        </div>

                        <div class="subtitle">
                            Settlers Cabin Green Loop Trail
                        </div>
                    </div>
                </div>




            </div>
        </div>

    </div>
</body>
<body>
      <br><br>
<!--Button 1-->
    <button data-modal-target="#modal">Meeks Run Trail</button>
    <div class="modal" id="modal">
        <div class="modal-header">
            <div class="title">Meeks Run Trail</div>
            <button data-close-button class="close-button">&times;</button>
        </div>
        <div class="modal-body">
            Meeks Run and Oil Well Trail Loop is a 1.8 mile moderately trafficked loop trail located near
            Pittsburgh, Pennsylvania that features a river and is good for all skill levels. The trail offers
             a number of activity options and is accessible year-round. Dogs are also able to use this trail.
        </div>
    </div>
    <div id="overlay"></div>

<!--Button 2-->
    <button data-modal-target="#modal2">Fall Run Trail</button>
    <div class="modal" id="modal2">
        <div class="modal-header">
            <div class="title">Fall Run Trail</div>
            <button data-close-button class="close-button">&times;</button>
        </div>
        <div class="modal-body">
            Fall Run Trail is a 1.4 mile moderately trafficked out and back trail located near Glenshaw,
            Pennsylvania that features a waterfall and is good for all skill levels. The trail offers a number
             of activity options and is accessible year-round. Dogs are also able to use this trail but must
             be kept on leash.
        </div>
    </div>
    <div id="overlay"></div>

<!--Button 3-->
    <button data-modal-target="#modal3">Monongahela Incline</button>
    <div class="modal" id="modal3">
        <div class="modal-header">
            <div class="title">Monongahela Incline</div>
            <button data-close-button class="close-button">&times;</button>
        </div>
        <div class="modal-body">
            Monongahela Incline is a 1.7 mile lightly trafficked loop trail located near Pittsburgh,
            Pennsylvania that offers scenic views and is good for all skill levels. The trail is primarily
            used for hiking, walking, and nature trips and is best used from April until October. Dogs
            are also able to use this trail but must be kept on leash.
        </div>
    </div>
    <div id="overlay"></div>

<!--Button 4-->
    <button data-modal-target="#modal4">Panhandle Trail</button>
    <div class="modal" id="modal4">
        <div class="modal-header">
            <div class="title">Panhandle Trail</div>
            <button data-close-button class="close-button">&times;</button>
        </div>
        <div class="modal-body">
            Panhandle Trail-Walkers Mill To Gregg Station is a 4.8 mile lightly trafficked out and back
             trail located near Presto, Pennsylvania and is good for all skill levels. The trail is
             primarily used for hiking, walking, road biking, and mountain biking and is accessible
             year-round. Dogs are also able to use this trail but must be kept on leash.
        </div>
    </div>
    <div id="overlay"></div>


<!--Button 5-->
    <button data-modal-target="#modal5">Settler's Cabin Green Loop Trail</button>
    <div class="modal" id="modal5">
        <div class="modal-header">
            <div class="title">Settler's Cabin Green Loop Trail</div>
            <button data-close-button class="close-button">&times;</button>
        </div>
        <div class="modal-body">
            Settler's Cabin Green Loop Trail is a 1.9 mile heavily trafficked loop trail located near
            Oakdale, Pennsylvania that features a waterfall and is rated as moderate. The trail is primarily
            used for hiking, walking, and nature trips and is best used from March until October. Dogs are
            also able to use this trail.
        </div>
    </div>
    <div id="overlay"></div>

    <br><br>

    <div class='reviews'>
        Reviews <br> <br>
    {{#if reviews}}
        {{#each reviews}}
            <div class='review'>
            {{this.name}}  " {{this.subject}} "
            </div>
        {{/each}}
    {{/if}}
    </div>


</body>

<br><br><br>
<script>
    const trailitems = document.querySelectorAll('.trail-item-wrapper')

    trailitems.forEach(trailItem => {
        trailItem.addEventListener('mouseover', () => {
            trailItem.childNodes[1].classList.add('img-darken')
        })

        trailItem.addEventListener('mouseout', () => {
            trailItem.childNodes[1].classList.remove('img-darken')
        })



    })
    <script src="js/main.js"></script>
    <script type="text/javascript" src="https://www.counters-free.net/count/64k8"></script><br>
 <a href='http://www.counter-zaehler.de'>hier</a> <script type='text/javascript' src='https://whomania.com/ctr?id=e0c803acceae5fb80be0ea7591b954ca50a847f6'></script>
</script>


</html>
