body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  margin: 0px;
  background: #2F4F3F -webkit-gradient(linear, left top, left bottom, from(#2F4A4F), to(#2F4F3F)) no-repeat;
}

h2 {
  display: inline-block;
  padding: 20px 70px 60px 30px;
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-weight: 300;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.nav-wrapper>.left-side>div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.trail-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.trail-item-wrapper {
    position: relative;
}

.trail-img-background {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper {
    width: 50%;
    margin-bottom: 0px;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 500;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: white;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%)
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.modal {
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: green;
    width: 1000px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25 rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

nav{
  display: inline;
  color: white;
  align-items: center;
  padding-top: 30px;
}

.topnav a {
    line-height: 50px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: white;
    color: black;
}

.topnav a.active {
    color: white;
}

.review {
    color: white;
    padding: 2px;
    width: auto;
    font-size: 15px
}

.reviews {
    width: 60%;
    border-style: solid;
    border-color: white;
    color: white;
    font-size: 17px
}